<div class="card">
    <div class="card-body">
        <form action="/usuarios/verAdmin" method="post">


            <h1>Seja um Admin</h1>



            <input type="text" name="cod" placeholder="Cod" value="">


            <button type="submit" class="btn btn-outline-dark">Verificar</button>
        </form>


    </div>
</div>